@charset "ISO-8859-1";

a.linkAPRIricerca {
	padding: 10px;
	
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
}
 
a.linkAPRIricerca:hover {
	background-color: #A52A2A;
	color: #FF8C00;
}

#catSELEZIONATO, #regSELEZIONATO, #proSELEZIONATO, #comSELEZIONATO {
	max-width: 150px !important;
}

  .carousel-inner  {
      width: 100%;
      height: 300px!important;
  }

.boxDestra {
	width: 100%;
	height: 300px;
	margin-left: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#box1 {
	background-image: url('../images/newsletter.jpg');
}

#box2 {
	background-image: url('../images/registraEnte.jpg');
}

#box3 {
	background-image: url('../images/publi1.jpg');
}

#box4 {
	background-image: url('../images/publi2.jpg');
}

.spaziaLato {
	padding: 0px 20px 0px 20px;
}

.tabDATA {
	min-width: 120px !important;
}

.noSpace {
	padding: 0px !important;
	margin: 0px !important;
}

.bordini{
	 border-bottom: 2px dotted #f54b03 !important;
	 border-top: 2px dotted #3271e7 !important;
	
}

.banner01{
background-image: url("../images/neroarancio.jpg");
background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

provaBG {
	background-color: blue;
}